.page {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 4rem 1.5rem;
}
section {
  margin-bottom: 3.5rem;
}

section:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 0.85rem;
}
